{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block content %}

<p>
<form action="" method="POST"> {% csrf_token %}
<input type="hidden" name="update" value="1" />
<input type="submit" class="btn btn-info" value="Обновить список участников" />
</form>
</p>

<h3><a href="{% url clan clanid=clanid %}?sort=nick">{{clantag}}</a></h3>
<p>
Чтобы настроить данные пользователя в базе автоматически, вы можете использовать браузер Google Chrome и 
<a target="_blank" href="https://chrome.google.com/webstore/detail/rewards-on-forum2x2net/haggkabgbolgmjcafbkehjdbplaioonc">установить специальное расширение</a>.
</p>
<p>
У тех пользователей в базе, у которых прописаны их форумные идентификаторы, их ники являются ссылками, при клике по которым можно будет перейти на страницу их профиля на форуме.
После установки расширения вы можете сделать правый клик над ссылкой-ником пользователя, 
из контекстного меню выбрать пункт "Загрузить с форума". 
Данные этого пользователя в таблице будут установлены согласно его текущим настройкам на форуме (вы должны быть залогинены в браузере на форуме).
</p>

<form action="" method="POST"> {% csrf_token %}
<input type="hidden" name="save" value="1" />
{% render_table table %}
<p>
<input type="submit" class="btn btn-info" value="Сохранить" />
</p>
</form>

{% endblock %}
