{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block content %}

<p>
<a href="{% url mainpage %}">На главную</a>
</p>

{% if clanid %}
<p>
Чтобы обновить данные пользователя на форуме в автоматическом режиме, вы можете использовать браузер Google Chrome и 
<a target="_blank" href="https://chrome.google.com/webstore/detail/rewards-on-forum2x2net/haggkabgbolgmjcafbkehjdbplaioonc">установить специальное расширение</a>.
</p>
<p>
У тех пользователей в базе, у которых прописаны их форумные идентификаторы, их ники являются ссылками, при клике по которым можно будет перейти на страницу их профиля на форуме.
После установки расширения вы можете сделать правый клик над ссылкой-ником пользователя, 
из контекстного меню выбрать пункт "Обновить на форуме". 
Данные этого пользователя на форуме будут установлены согласно его текущим настройкам в базе (вы должны быть залогинены в браузере на форуме и иметь права форумного админа).
</p>
<p>
<a href="{% url edit clanid=clanid %}?sort=nick">Редактировать</a>
</p>

<h3>{{clantag}}</h3>

{% else %}

<h3>Временно отсутствующие Перцы</h3>

{% endif %}

{% render_table table %}

{% endblock %}
